@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', 'sans-serif';
}

#app {
    overflow: hidden;
    background: url('./assets/backgrounds/PlanetOfLana.png');
    background-position: center;
    background-size: 110%;

}

main {
    padding: 35px 50px 44px 52px
}


button {
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

button:hover {
    color: white;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.3);
    width: max-content;
    height: 100vh;
    padding: 57px 53px 51px 51px;
}